@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>CrazyCola System</h3>

<p>
    El sistema de administración interna de CrazyCola es una plataforma centralizada que facilita la gestión de almacenes y productos. Permite a los administradores supervisar inventarios, gestionar pedidos, actualizar información de productos y controlar usuarios. Con funciones intuitivas y medidas de seguridad sólidas, este sistema optimiza las operaciones internas de la empresa, ofreciendo una experiencia eficiente y confiable.
</p>

<p>
    El sistema proporciona herramientas para la creación y edición de almacenes, actualización de información de productos y seguimiento de pedidos. Los administradores pueden gestionar usuarios, asignar roles y mantener la seguridad de la plataforma. Con este sistema, CrazyCola logra una gestión eficiente de sus activos, mejorando la productividad y garantizando un control integral de sus operaciones internas.
</p>